.App {
  padding-top: 36px;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  margin-top: 100px;
}

.App-cursor-pointer {
  cursor: pointer;
}

.App-pokemon-detail {
  padding-top: 20px;
  display: block;
}

.App-pokemon-detail span {
  display: block;
}

.custom-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.grid-list {
  padding: 25px;
}

.search-from-wrapper {
  display: flex;
  justify-content: center;
}

thead button.asc::after {
  content: '⬇️';
  display: inline-block;
  margin-left: 1em;
}

thead button.desc::after {
  content: '⬆️';
  display: inline-block;
  margin-left: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
